Package: com.qugen.vcamtweak
Name: VCamTweak
Version: 0.0.5
Architecture: iphoneos-arm64
Description: iOS camera replacement tweak (fat binary, macOS-built)
Maintainer: QuGen
Author: QuGen
Section: Tweaks
Depends: mobilesubstrate
