Package: com.test.testtweak
Name: TestTweak
Version: 1.0
Architecture: iphoneos-arm64
Description: Minimal test dylib for verifying %ctor execution via opainject
Maintainer: test
Author: test
Section: Tweaks
